@CHARSET "UTF-8";
.brandshow {
        width: 975px;
        height: 600px;
        border: 1px solid #ccc;
        position: relative;
    }

    .brandshow span {
        position: absolute;
        border: 1px solid red;
        display: block;
        width: 156px;
        height: 100px;
    }
    
.selected {
	background-color: blue;
}


.warninfo {
	color: red;
}