<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desksoft.entity.mapper.CategorydetailMapper" >

  <resultMap id="BaseResultMap" type="com.desksoft.entity.Categorydetail" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="do_type_key" property="doTypeKey" jdbcType="VARCHAR" />
    <result column="do_type_value" property="doTypeValue" jdbcType="VARCHAR" />
    <result column="xseqt" property="xseqt" jdbcType="DECIMAL" />
    <result column="button_type" property="buttonType" jdbcType="VARCHAR" />
    <result column="cg_id" property="cgId" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    
  </resultMap>
  
  
  
  <sql id="Base_Column_List" >
    id ,name , do_type_key ,do_type_value , button_type ,xseqt ,cg_id ,   gmt_create,gmt_modify
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from d_category_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.desksoft.entity.Categorydetail" >
    insert into d_category_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="doTypeKey != null" >
        do_type_key,
       </if>
        <if test="doTypeValue != null" >
        do_type_value,
       </if>
        <if test="buttonType != null" >
        button_type,
       </if>
        <if test="xseqt != null" >
        xseqt,
       </if>
       <if test="cgId != null" >
        cg_id,
       </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
       <if test="doTypeKey != null" >
        #{doTypeKey,jdbcType=VARCHAR},
      </if>
       <if test="doTypeValue != null" >
        #{doTypeValue,jdbcType=VARCHAR},
      </if>
       <if test="buttonType != null" >
        #{buttonType,jdbcType=VARCHAR},
      </if>
       <if test="xseqt != null" >
        #{xseqt,jdbcType=DECIMAL},
      </if>
       <if test="cgId != null" >
        #{cgId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify},
      </if>
    </trim>
  </insert>
  
  
   <select id="queryCategoryDetail" parameterType="java.util.Map" resultMap="BaseResultMap" >
  	select 
    dcd.id ,dcd.name , dcd.do_type_key ,dcd.do_type_value , dcd.button_type ,dcd.xseqt ,dcd.cg_id ,   dcd.gmt_create,dcd.gmt_modify
    from d_category dc, d_category_detail dcd  where dc.id = dcd.cg_id 
    <if test="phone != null" >
        and phone = #{phone}
    </if>
    
  </select>
  
</mapper>