<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desksoft.entity.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.desksoft.entity.Comment" >
    <id column="c_id" property="cId" jdbcType="VARCHAR" />
    <id column="u_id" property="userId" jdbcType="VARCHAR" />
    <result column="c_desc" property="desc" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModifidy" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    c_id, u_id,c_desc ,  gmt_create, gmt_modify
  </sql>
  
  <insert id="insert" parameterType="com.desksoft.entity.Comment" >
    insert into t_user_commit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="userId != null" >
        u_id,
      </if>
      <if test="desc != null" >
        c_desc,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModifidy != null" >
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifidy != null" >
        #{gmtModifidy,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
</mapper>