<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desksoft.entity.mapper.PlanMapper" >

  <resultMap id="BaseResultMap" type="com.desksoft.entity.Plan" >
    <id column="p_id" property="pId" jdbcType="VARCHAR" />
    <id column="u_id" property="userId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="descr" property="descr" jdbcType="DECIMAL" />
    <result column="praise_count" property="praiseCount" jdbcType="DECIMAL" />
    <result column="evaluate_count" property="evaluateCount" jdbcType="DECIMAL" />
    <result column="detail_Ｃount" property="detailCount" jdbcType="DECIMAL" />
    <result column="image_main" property="imageMain" jdbcType="DECIMAL" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="planDtoResult" type="com.desksoft.entity.dto.PlanDto" >
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="u_id" property="userId" jdbcType="VARCHAR" />
    <result column="p_id" property="pId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="descr" property="descr" jdbcType="VARCHAR" />
    <result column="praise_count" property="praiseCount" jdbcType="DECIMAL" />
    <result column="evaluate_count" property="evaluateCount" jdbcType="DECIMAL" />
    <result column="detail_count" property="detailCount" jdbcType="DECIMAL" />
    <result column="image_main" property="imageMain" jdbcType="VARCHAR" />
    <result column="user_picture" property="userPicture" jdbcType="VARCHAR" />
    
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    p_id,u_id, name,descr ,praise_count , evaluate_count , gmt_create ,  gmt_modify,detail_Ｃount,image_main
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_plan
    where languageId = #{pId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.desksoft.entity.Plan" >
    insert into t_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        p_id,
      </if>
      <if test="userId != null" >
        u_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="descr != null" >
        descr,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        #{pId},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
       <if test="flag != null" >
        #{flag},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify},
      </if>
    </trim>
  </insert>
  
  <select id="queryPlanByUserId" resultMap="planDtoResult" parameterType="java.lang.String" >
   select  tp.p_id , tp.name ,tp.gmt_create,tp.u_id ,tu.nick_name
    from  t_user_plan up , t_plan tp ,t_user tu
    where up.p_id = tp.p_id and up.u_id = #{userId}   and tu.u_id = tp.u_id  order by tp.gmt_create desc 
  </select>
  
  <select id="queryMyselfPlan" resultMap="planDtoResult" parameterType="java.lang.String" >
   	<![CDATA[
	   		select tp.p_id , tp.name ,tp.gmt_create,tp.u_id ,tu.nick_name ,tp.praise_count , tp.evaluate_count,tp.detail_count,tp.image_main
			from t_plan tp ,t_user tu where tu.u_id = #{userId}  and tu.u_id = tp.u_id    order by tp.gmt_modify desc
	  ]]>
  </select>
  
  <select id="queryCollectPlan" resultMap="planDtoResult"  parameterType="java.lang.String" >
  <![CDATA[
  		 select yc.p_id , yc.name ,yc.gmt_create,  yc.praise_count , yc.evaluate_count,yc.detail_count,yc.image_main ,tu.u_id ,tu.nick_name from t_user tu , (
		select  tp.p_id , tp.name ,tp.gmt_create,tp.u_id ,tp.praise_count , tp.evaluate_count,tp.detail_count,tp.image_main from t_user_plan up , t_plan tp where up.u_id = #{userId}
    	and up.p_id = tp.p_id and tp.u_id <> #{userId}) yc where tu.u_id = yc.u_id                               
    ]]>
  </select>
  
  <select id="queryPublicPlan" resultMap="planDtoResult" parameterType="java.lang.String" >
   <![CDATA[
   	   select tcs.p_id , tcs.name ,tcs.gmt_create,tcs.u_id ,tcs.nick_name from t_plan_detail tpd , (
	   select tp.p_id , tp.name ,tp.gmt_create,tp.u_id ,tu.nick_name ,tp.gmt_modify
			from t_plan tp ,t_user tu where tp.p_id <> tp.u_id  and tu.u_id = tp.u_id and  tp.flag = 1 ) tcs where tpd.p_id = tcs.p_id 
		group by tcs.p_id , tcs.name ,tcs.gmt_create,tcs.u_id ,tcs.nick_name having(count(*)) > 0 order by tcs.gmt_modify desc  limit 50
 	 ]]>
  </select>


 <select id="queryPublicNewPlan" resultMap="planDtoResult" parameterType="java.lang.String" >
   <![CDATA[
   	   select  
	tcs.u_id , tcs.p_id , tcs.name , tcs.praise_count , tcs.evaluate_count,tcs.detail_count,tcs.image_main,
    tcs.gmt_create,tcs.gmt_modify ,tcs.nick_name,tcs.user_picture
    from t_plan_detail tpd , (
	   select 
        tp.u_id , tp.p_id , tp.name , tp.praise_count , tp.evaluate_count,tp.detail_count,tp.image_main,
    tp.gmt_create,tp.gmt_modify ,tu.nick_name,tu.user_picture 
			from t_plan tp ,t_user tu where tp.p_id <> tp.u_id  and tu.u_id = tp.u_id and  tp.flag = 1 ) tcs where tpd.p_id = tcs.p_id 
		group by  
       tcs.u_id , tcs.p_id , tcs.name , tcs.praise_count , tcs.evaluate_count,tcs.detail_count,tcs.image_main,
    tcs.gmt_create,tcs.gmt_modify ,tcs.nick_name,tcs.user_picture
    having(count(*)) > 0 order by tcs.gmt_modify desc  limit 50
 	 ]]>
  </select>
  
  
    
  <select id="queryPlanById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select  tp.p_id , tp.u_id, tp.name ,tp.gmt_create,tp.descr,image_main,image_main
    from  t_plan tp 
    where tp.p_id  = #{planId}
  </select>
  
  
  <select id="queryPlanDescById" resultMap="planDtoResult" parameterType="java.util.Map" >
   select tcs.* ,count(0) as  count from (
		select tu.nick_name ,t.u_id , tp.p_id , tp.name,tp.descr  from t_user tu ,t_plan tp 
	    where tu.u_id = tp.u_id and tp.p_id = #{planId}  
  	) tcs , t_plan_detail tpd where tcs.p_id = tpd.p_id

  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.desksoft.entity.Plan" >
    update t_plan
    <set >
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="praiseCount != null" >
        praise_count = praise_count +  #{praiseCount},
      </if>
       <if test="evaluateCount != null" >
        evaluate_count = evaluate_count +  #{evaluateCount},
      </if>
      <if test="detailCount != null" >
        detail_count = detail_count +  #{detailCount},
      </if>
      <if test="imageMain != null" >
        image_main =   #{imageMain},
      </if>
       <if test="flag != null" >
        flag = #{flag},
      </if>
    </set>
     where p_id = #{pId,jdbcType=VARCHAR} 
  </update>
   
  <select id="queryPlanByNameId" resultMap="BaseResultMap" parameterType="java.util.Map" >
   		select p_id,u_id, name,descr , gmt_create ,  gmt_modify from t_plan where u_id = #{userId} and name = #{name}
  </select>
  
</mapper>